
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

i.fa-circle-user{
    font-size: 1.05rem;
}


#dashboards{
    display: none;
}

main{
    width: 100%;
}


div.image{
    min-height:120vh;
    width:100%;
    position: relative;

    background-image: url('/resources/city.jpg'); 
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    overflow: hidden;

}

div.image span{
    font-size: 2rem; 
    position: absolute;
    top: 16rem; 
    left: 4rem; 
    /* color: rgb(36, 96, 19, 0.8); */
    color:#333;
    z-index: 1; 
    font-weight: bold; 
    max-width:80vw;
    text-align: left;

}


div.image a{
    font-size: 1.5rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    background: rgba(36, 96, 19, 0.6);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}

h1 {
    font-size: 5rem;
}

div.image a:hover{
    background: rgba(36, 96, 19, 0.8);
}




.hidden {
    display: none;
}


@media screen and (max-width: 700px) {
    div.image span{
        font-size: 1.5rem; 
        top:13rem;
    
    }
    
    div.image a{
        font-size: 1.3rem;
        top: 60%;
        
    }

    

}