#map {
    height: 80%;
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.marker{
    width:25px;
    height:25px;
    border-radius: 50%;
    /* background-color: blue; */
}