:root {
    font-size: 16px;
}

.container {
    flex: 1;
    position: relative;
    padding: 0rem;
    display: flex;
}


#map {
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
}

#compass {
    position: absolute;
    bottom: 7.5em;
    /* Distance from the bottom of the map */
    left: 2.5em;
    /* Distance from the left side of the map */
    width: 3em;
    height: 3em;
    background-color: transparent;
    /* Remove background */
    border: none;
    /* Remove the border */
    padding: 0;
    /* Remove any padding */
    cursor: pointer;
    display: inline-block;
    /* This allows the button to size based on its content (the image) */
}


#compass img {
    border: none;
    width: 100%;
    /* Make the image fill the button's width */
    height: 100%;
    /* Make the image fill the button's height */
    object-fit: cover;
    /* Ensures the image covers the entire button area while maintaining aspect ratio */
}

.marker {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.disabilitymarker {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.autocomplete {
    position: absolute;
    top: 20px;
    /* Space from the top of the page */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Offset by half of its width to truly center */
    z-index: 1;
    /* Ensure it's above the map */
    background-color: #31572Cdd;

    width: 70vw;
    max-width: 500px;
    padding: 1em;
    padding-bottom: 1em;
    border-radius: 0.7em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    /* Optional, adds shadow for better visibility */
}

#reservationInfo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    margin-left: 0.5em;
    max-width: 50vw;
}




.autocomplete input[type="checkbox"] {
    appearance: none;
    background: white;
    position: relative;
    top: 0.3rem;
}


.autocomplete input[type="checkbox"]:checked {
    background-color: #6A994E;
}

.autocomplete input[type="checkbox"]::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    left: 2.5px;
    top: 4px;
    transform: rotate(-45deg);
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.1s;
}

.autocomplete input[type="checkbox"]:checked::after {
    opacity: 1;
    /* Show checkmark when checked */
}

/* General slider styles */
#radiusSlider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    /* Removes default styling on WebKit browsers */
    appearance: none;
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

/* Thumb (handle) styles for WebKit browsers (Chrome, Opera, Safari) */
#radiusSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: #6A994E;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

/* Thumb styles for Firefox */
#radiusSlider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #6A994E;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    /* Remove border */

}

/* Hover & Active states */
#radiusSlider:hover {
    background: #ddd;
}

#radiusSlider:active::-webkit-slider-thumb {
    background: #6A994E;
}

#radiusSlider:active::-moz-range-thumb {
    background: #6A994E;
}


.autocomplete .input-div {
    display: flex;
}

.autocompleteButton {
    width: 45px;
    height: 35px;
    background-color: #6A994E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    padding: 0px;
}

.autocompleteButton:hover {
    background-color: #132a13;
}

#clearBtn {
    margin: 0px;
    background-color: #BC4749;
}

#clearBtn:hover {
    background-color: #7D2E30;
}

.autocomplete i {
    color: white;
    font-size: 16px;
}



.autocomplete input {
    width: 100%;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;


}

.autocomplete input:focus {
    outline: none;
    /* Removes the outline (usually the blue highlight) */
    border: none;
    /* Removes the border on focus */
}

.options {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8rem;
    width: 100%;
    /* background-color: red; */
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    /* background-color: red; */
}

.options button {
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.options input {
    display: inline-block;
    width: fit-content;
    border: none;
    padding: 0.5em;

}

.options span {
    color: rgb(19, 18, 18);
}

#radius {
    font-size: 0.85rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 0.3em;
    padding-left: 0.5em;
}

.dialogWindow {
    position: absolute;
    top: 44%;
    /* Space from the top of the page */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Offset by half of its width to truly center */
    width: 20rem;
    z-index: 1;
    /* Ensure it's above the map */
    background-color: white;
    padding: 0.2em;
    border-radius: 0.7rem;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    /* Optional, adds shadow for better visibility */
}

.dialogWindow p {
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    font-family: 'Arial', sans-serif;
    font-weight: 300;

}

.invisible {
    display: none
}

.dialogWindow button {
    border: none;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    background-color: white;
    float: right;
    margin-right: 0.8rem
}

.dialogWindow button:hover {
    cursor: pointer;
}


button.gm-ui-hover-effect {
    width: 35px !important;
    height: 35px !important;
}

button.gm-ui-hover-effect span {
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E") !important;

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3C/svg%3E") !important;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
}

#distance {
    display: inline-block;
    margin-top: 0.3rem;
}

button#directionsBtn {
    width: 7em;
    height: 2.5em;
    float: right;
    margin-right: 1em;
    /* Distance from the right */
    margin-bottom: 0.4em;
    margin-top: 0.5em;
    padding: 10px 60px;
    background-color: #b3b1b1;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

button#directionsBtn.active {
    background-color: #007bff;
    cursor: pointer;
}


.ReservationBtn {
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin-right: 0.2em;
    /* Distance from the right */
    margin-bottom: 0.2em;
    margin-top: 0.4em;
    padding: 6px 10px;
    background-color: #6A994E;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    cursor: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReservationBtn:hover {
    background-color: #132a13;
    cursor: pointer;
}

#directions {
    position: absolute;
    left: 50%;
    /* Position the element at the middle of the parent */
    transform: translateX(-50%);
    /* Offset by half its width to center it */
    bottom: 1.5em;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: #6A994E;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.InfoWindow {
    z-index: 2;
}


@media (max-width: 570px) {
    .InfoWindow {
        font-size: 0.75rem;
    }

    .autocomplete {
        width: 90vw;
        padding-left: 0.5em;
    }
}